.my-loader {
    float: right;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: #333333;

    .my-spinner {
        margin-right: 0.25rem;
        width: 0.7rem;
        height: 0.7rem;
    }

    .my-spinner-tips {
        color: #333333;
    }
}
